ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a
{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:26px; left:0; background:#009933; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#264B7F}
ul.menu ul li a:hover {background-color:#009933; color:#000000}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .menulink {padding:5px 7px 7px; font-weight:bold; background:url(images/header.gif); width:100px; zoom: 1;}
ul.menu .menulink:hover, ul.menu .menuhover
{
	background: url(images/header_over.gif);
	color: #264B7F;	
}
ul.menu .sub {background:#d1d1d1 url(images/arrow.gif) 136px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}